[2017-11-15 15:19] Kukanani opened #11 "Remove unnecessary dependencies"
As pointed out by @mikaelarguedas, Use of the `<depend>` tag is overkill for some dependencies and would result in unecessary installations for dependent packages.

[2018-04-24 10:56] artivis opened #13 "A message for features ?"
Wouldn't it be interesting to have a ros message to pass features around (think SIFT, SURF, ORB, ED-line etc) ?
Including some helper functions to handle the back and forth conversion with OpenCV.

[2018-04-24 17:03] Kukanani commented on #13
Definitely an interesting idea that we thought about when we were first making this package. So far, we have not heard a compelling reason to add special message types, but I'm happy to discuss further. A few of my thoughts:

1. Some of these descriptors can be of variable size. For example, there are many variants of HOG with different angle bins, etc. For this reason, it doesn't make sense to me

[2018-08-07 16:29] chaoli2 opened #15 "Some questions about vision_msgs project"
@Kukanani
Based on your kindly suggestion [here](https://github.com/intel/ros2_object_msgs/issues/1), we are now evaluating the efforts and benefits of moving current [object_msgs ](https://github.com/intel/ros2_object_msgs) to vision_msgs. This migration may influence some existing projects(like [ros2_intel_movidius_ncs ](https://github.com/intel/ros2_intel_movidius_ncs), [ros2_object_analytics](

[2018-08-09 02:59] adam-diligent commented on #15
Hello @chaoli2, great to hear from you!
1.  There is already a ROS2 version of the package, which is on the `ros2` branch of the repo. I don't think I've released it yet, though! This is definitely something I'll look into
2. The debians for the ROS1 version of the package are already available (i.e. `sudo apt install ros-kinetic-vision-msgs` should work). It sounds like you are specifically askin

[2018-08-09 03:00] Kukanani commented on #15
Hello @chaoli2, great to hear from you!

    There is already a ROS2 version of the package, which is on the ros2 branch of the repo. I don't think I've released it yet, though! This is definitely something I'll look into
    The debians for the ROS1 version of the package are already available (i.e. sudo apt install ros-kinetic-vision-msgs should work). It sounds like you are specifically asking

[2018-08-09 03:01] Kukanani commented on #13
This hasn't seen any activity and I think I've adequately answered the original question, so closing for now. Feel free to re-open if you have additional thoughts.

[2018-08-09 03:01] #13 closed

[2018-08-10 03:14] Kukanani commented on #15
I did more digging and realized that I already released for ROS2 Ardent some time ago: [link](https://github.com/ros2/rosdistro/commit/32d00df3303725c31e3d1dd706bf250638b910f7). Does this suit your team's needs?

[2018-08-10 10:33] chaoli2 commented on #15
@Kukanani Thanks for your quick response. I saw its commit history to ros2 build farm. I'd like to check corresponding debian package in few days. Will you let know if any question 👍

[2018-11-20 06:30] chaoli2 commented on #15
We temporarily add our [object_msgs](https://github.com/ros2/rosdistro/pull/334) into Crystal release so as to satisfy dependency of other projects. For long term consideration, we'd like vision_msgs is supported in every future ROS2 realease :)

[2018-11-20 13:39] Kukanani commented on #15
Thank you for releasing! As someone who does not use ROS2 on a regular basis it is sometimes difficult for me to remember to release to a new version. I do plan to continue support. Thank you for the reminder!

[2019-02-07 11:14] LeroyR opened #17 "IDs for detections?"
How about adding an ID field to the Classification/Detection Msgs.

While using Detection3D msgs works fine in the visual pipeline we struggle with connecting the 'Objects' (BB+cloud+[hypothesis]) to other parts of the 'world'.

Example would be a node that creates grasping objects or shape primitives from the box or cloud of the Detection result. This need some id/name to reference them -> now we

[2019-02-08 20:12] Kukanani commented on #17
To clarify, are there reasons you can't a) store the Detection message, b) store the [object id](https://github.com/Kukanani/vision_msgs/blob/kinetic-devel/msg/ObjectHypothesis.msg#L6)?

[2019-02-11 17:03] LeroyR commented on #17
"Just convenience." It helps to have ids generated in the first pipeline step.

Already stored for further processing. In the example different components process parts of the Detection. Ofc one component can just assign ids but then we have to share them to other components also processing the detection.

Objects may have multiple hypotheses

May generate an array of Detections from one source, a

[2019-02-11 20:11] mintar commented on #17
Since you asked for input, here are my 2 cents.

In that case, you should publish a single Detection3DArray message instead of multiple Detection3D messages with the same time stamp. And all processing nodes should copy the time stamp of the original Detection3DArray message (which is the correct way to do it anyway). That way, you can use an [ExactTime synchronizer](http://wiki.ros.org/message_fi

[2019-02-11 21:31] LeroyR commented on #17
Yes, doing that, i said 'array of detections' meant Detection3DArray :smile:

I do not propose an ID field for Time synchronization?

I am talking a graph where multiple node process the same Detection3DArray, e.g. a node that processes the BBs of the detection for construction of a planning scene and another node filtering the hypothesis by speech input or something. Now the node want to start gr

[2019-02-13 09:47] mintar commented on #17
I know. What you want is make sure that a specific detection from a Detection3DArray can be identified. What I'm saying is that the time stamp should identify a unique Detection3DArray, and then the index in the `detections[]` list identifies a certain detection.

I know this is brittle: the object index will change with each new detection. However, this is because object detection works frame-by-

[2019-02-13 13:34] LeroyR commented on #17
Yes, most of the time we can use nsec+idx as uuids, it just seems so arbitrary.

True. If using an environment representation this is already handled somewhere else in the system. Most of the time using specialized messages for world objects, atleast we do :smile:

It already includes a bounding box and a point cloud. The bounding box can be constructed from the cloud - well the cloud is defined a

[2019-02-15 21:41] Kukanani commented on #17
Some good points made here.

We should make the comments on the `id` field more explicit. This was always meant to be a class id. You can imagine a cube object that could be in 24 different orientations and still look identical, all should have the same class id.

If we were going to add an explicit per-result id, it seems that it should be added at the ObjectHypothesis level or else it will still

[2019-05-30 02:01] hakuturu583 opened #18 "add unique object ID for tracking"
Hi, I want to make object detection (https://github.com/OUXT-Polaris/nnabla_vision_detection) and tracking ROS package and visialization tool(https://github.com/OUXT-Polaris/vision_msgs_visualization) using vision_msgs.
However, there is no object unique id in this package.
So,I want to modify this message like below.

Detection2D.msg
[code]

Detection3D.msg
[code]

I want to use same message for

[2019-05-30 22:43] Kukanani commented on #18
Hi, thanks for proposing a change! I agree that right now it is difficult to perform multi-object tracking using only vision_msgs so let's see if we can improve it.

Can you please clarify what the ID keeps track of in your implementation? Does each real-world object in the scene get its own UniqueID? Each detection message? Each image/detection event?

[2019-06-01 00:09] hakuturu583 commented on #18
I think pipelines like below is good for building object detection/tracking system with vision_msgs.
(https://docs.google.com/presentation/d/e/2PACX-1vTUnCyBg9Kxuya1BWyjTJcAf9lGJa_th5n-Ta2JxoHbiwgZS5lHWjOhvDsvzqMJB9s1Rey9wgOh59Md/pub?start=false&loop=false&delayms=3000)

[2019-06-01 00:15] hakuturu583 commented on #18
I think it is unnecessary to set unique ID in object detector.
In order to setting unique ID, time series processing is necessary.
I think detection node is one-shot algorithm such as yolo,voxelnet,SVM etc...
Tracking node contains time series processing algorithm such as particle filter, kalman filter...
So, I think it is better for us to set unique tracking ID in tracking node.

[2019-06-01 00:15] hakuturu583 commented on #18
In order to show the result is tracking result or detectino result cleary, I made is_tracking field.

[2019-06-02 09:37] mintar commented on #18
+1

I agree this would be a valuable addition. The comments should be checked by a native speaker (@Kukanani ?), otherwise it looks good to me.

[2019-06-03 01:55] hakuturu583 commented on #18
I also sending PR for this issue. #19
If you are OK.
Pleas review it!!

[2019-06-06 01:09] hakuturu583 commented on #18
@Kukanani How do you think about my architecture design and message modification?

[2019-06-10 15:58] Kukanani commented on #18
@hakuturu583, I'm happy to move forward with getting this merged, but I will probably propose changes to the comments based on this discussion.

Just to clarify again: the tracking_id field should be the same across multiple messages, as long as those messages represent detections of the same real-world object. Is this correct?

[2019-06-11 13:17] hakuturu583 commented on #18
@Kukanani Yes, I think tracking_id of the same object should be same across multiple message as long as the tracking node continue tracking the target object.

[2019-06-20 14:24] jveitchmichaelis opened #20 "Support compressed image messages"
It'd be useful to support `CompressedImage`, as opposed to just `Images`. This is convenient for a few applications e.g. in our case we're sending a `Detection2DArray` over a socket to `roslibpy` to display on a website and we'd need to re-encode the data as a jpeg/png otherwise. In general if you're sending tons of bounding box cutouts, sending the raw pixel data can add up to more bytes than the

[2019-06-24 13:38] Kukanani commented on #20
Hi! Great idea for an addition. It pains me to add more message types with such a small difference, but I think that in this case it definitely makes sense. It would be significant extra overhead to using `vision_msgs` if you had to check each incoming message to see if it was compressed or not, and then pick the appropriate field.

I've been too busy recently to review PRs, but please go ahead an

[2019-07-08 16:46] Kukanani commented on #17
I clarified the `id` field in [this commit](https://github.com/Kukanani/vision_msgs/commit/ad86788d961ff458cbf018e8b22bd8ed62a58741). @LeroyR, does #19 provide a good solution to your problem?

There's a balance to strike here between making the messages usable for multiple use cases, while not making them overly complex to use. I'm doing my best to strike that balance.

[2019-07-09 06:22] LeroyR commented on #17
#19 is a solution.
The Moveit stack is using Strings as ids so we would have to do some conversions.

e.x. [CollisionObject](http://docs.ros.org/melodic/api/moveit_msgs/html/msg/CollisionObject.html)

[2019-07-15 10:39] mistermult commented on #18
I'm also interested in adding IDs.

1. However, I'm no satisfied with the solution #19. The ID should stay the same if the detected object is the same, i.e. the same entity. However, currently I the ID is added to Detection2D.msg. So I cannot model the following: Object 123 is detected with probability of 50% and Object 234 is detected with probablity 50%.

Solution: Move ID from Detection2D.msg t

[2019-07-15 18:00] LeroyR commented on #18
I understand where @mistermult is coming from, however:

## Place of ID

The Detection it is still one entity(e.g. having one BB/Pointcloud) that we add to the planning scene, even if it has multiple hypothesis which specific class / track it is.
Which object_id is then set in the planning_scene/collision_object?
First Hypothesis? Hypothesis with the highest score? Set the same in all hypos?
-> we

[2019-07-15 23:32] mistermult commented on #18
@LeroyR Thanks for the reply.

I have to clarify my proposal. My proposed object_id describes the object. Assume that each real object has a unique number written on (two identical red cubes would have different numbers). This would be the object_id. The object detection/tracking of course creates the numbers rarely arbitrarily.

We must differentiate between two thing:
* BB (in the image) / clust

[2019-07-15 23:47] mistermult commented on #18
In conclusion:
* **tracking_id in ClassificationX:**: If the tracking_id (example: bbox1) is the same across multiple frames the BB/cluster are related/ the 'same' (of course they are at slightly different positions).
* **object_id in ObjectHypothesis:**: If the object_id (example: orange1) is the same across multiple frames the same object (entity) has been detected across multiple frames.

Advan

[2019-07-18 11:26] mintar commented on #18
I'm currently on vacation and on mobile, so apologies beforehand for being brief.

I prefer track_id and class_id to be strings, for the reasons listed.

I also believe track_id should go into DetectionXd. We should not add object_id to ObjectHypothesis, IMO. Reason: track_id has a clearly defined meaning - it associates this DetectionXd to one from the previous frame. The examples cited by @miste

[2019-07-18 11:34] mintar commented on #18
Example of why I think the example above is a special case: assume there are two real objects (apple and orange), and two detected objects (o1 and o2). Now assume the tracker doesn't know which one is which. If you simply model o1 = (apple|orange), o2 = (apple|orange), you don't express the constraint that the combination o1=apple, o2=apple is invalid. Much better to publish two separate Detection

[2019-07-19 08:54] mistermult commented on #18
@mintar The most correct version would be, that the tracker publishes multiple DetectionXdArrays if it is uncertain. However, in this case the score would have to be at DetectionXdArrays. But if the tracker cannot differentiate n objects, it would have to publish n! messages.

[2019-07-19 09:00] mistermult commented on #18
I see that I cannot find support for a object_id in ObjectHypothesis. I still thing this will bite us in the future. Nevertheless,  I suggest that we are going forward with the majority:

**Add track_id (which seems to be a better name that tracking_id) of type string to DetectionXd.**

[2019-07-19 20:35] mintar commented on #18
Yes. There is no need to add the score to DetectionXdArray. Simply add a message that has an array of DetectionXdArray and an array of scores. If you want to go down this road, I suggest you create such a message outside of vision_msgs. Once it has proved useful in a real implementation, it could be merged into vision_msgs.

Correct. This is in the nature of the problem. Pretending that the probab

[2019-07-19 22:17] Kukanani commented on #18
See #19, now merged, for tracking on Detection messages. Please re-open the issue if and when we need to revisit.

[2019-07-19 22:17] #18 closed

[2019-07-19 22:17] Kukanani commented on #17
Should be resolved now with #19. Please re-open if there's still an issue.

[2019-07-19 22:17] #17 closed

[2019-07-22 13:26] #11 closed

[2019-08-05 02:57] hakuturu583 commented on #18
@mistermult
I disagree with using string in tracking_id.
So, I proposed to revert change in #22
It makes it is unnecessary for humans to check tracking ID directory.
It is just a visualization problem.

[2019-08-05 03:02] hakuturu583 commented on #18
@mistermult The reason why I use uuid_msgs is users should recoganize the filed is UUID corectly.

[2019-08-05 03:21] hakuturu583 opened #25 "use uuid_in tracking ID."
In order to discuss more in open Isses.
I made this Issue.

I add tracking field in Detection2D.
I understand the human readable, but I strongly disagree with use string in tracking ID field.

I have oppositions about these issues.

[2019-08-05 03:22] hakuturu583 commented on #25
1. compare between String and UUID.

[code]

It is unnecessary to read UUID by human.
It is solved by visualization.
I am developing visualizer for this message.
https://github.com/OUXT-Polaris/vision_msgs_visualization.

[2019-08-05 03:23] hakuturu583 commented on #18
@Kukanani @mistermult @LeroyR I failed to reopen this issue.
Can you discuss here?? #25

[2019-08-05 03:27] hakuturu583 commented on #25
2. I disagree with flexible description.

@Kukanani said that string is flexible.
I agree with you, but flexible description causes problem in Open-Source.
If you use string in trackin_id field, users and developers can use these fields free.
It problem when integrate these modules using ROS.

[2019-08-05 03:30] hakuturu583 commented on #25
If you use UUID in tracking_id, vision_msgs users process data from multiple trackers very very easily.
But, if you use just string, we have to do it manually.

[2019-08-05 03:31] hakuturu583 commented on #25
So, I think we should use UUID in tracking field.

[2019-08-05 07:31] mistermult commented on #25
We should not use UUID. A string has the benefits already described in my last comparison. The most compelling reason for UUID is that it uses less space in the msg and it is faster to deserialise because it is a number. Another benefit is, that UUID are almost guaranteed to be different when generated on different hosts without coordination.
On the other hand, if the node wants to use UUID it can

[2019-08-05 07:37] hakuturu583 commented on #25
@mistermult I think the benefit of the vision_msgs is it enables to use all nodes using vision_msgs each other.
In terms of this view, I think string is "Too much flexible".
If we allow someone use UUID in tracking_id field and other use UUID, it cause a lot of problem.

[2019-08-05 07:41] hakuturu583 commented on #25
If we use vision_msgs in multiple sensor systems, we use multiple tracking nodes.
If we use string in trackng ID field, we have to sync tracking nodes by manual.
However, if we use UUID in tracking ID, we are not necessary to sync them.

[2019-08-05 07:44] mistermult opened #26 "Add ObjectHypothesisArray"
What's the reason for all this messages? We want to detect objects in images or point clouds to build a model of the real world. The real world exists even if there are there is no image taken of it. So we need a message that only contains objects but does not reference images or point clouds.
Applications:
* We put objects on the table and measure the coordinates. This is the ground truth data wi

[2019-08-05 07:56] mistermult commented on #25
Sure, tracking_id of type string does not guarantee that nodes make unique IDs. However, some nodes might want to guarantee uniqueness in other (faster) ways, e.g. by using an internal counter. Other nodes, might want to reference a global database, which is not possible with UUIDs.
If one wants to make sure that the tracking_id is unique, then UUID is a good idea. But making a string out of a UUI

[2019-08-05 08:04] hakuturu583 commented on #25
@mistermult If we use string in tracking_id field, someone use this field as UUID, other people use this field as other format.
It causes problem when we use integrate them.
It harms usability of vision_msgs.

[2019-08-05 08:05] hakuturu583 commented on #25
I am now making a benchmark code of UUID generation.
I will post this result soon.

[2019-08-05 08:12] gavanderhoorn commented on #25
I'm just an observer here, but if I understand @mistermult correctly, he suggests that even though ID is a `string`, it could still perform the same role as a UUID field: users that would like to set that field to a UUID can do that (ie: UUID `->` string). Users that would like to use something else (for whatever reason) would use the `string` representation of that.

A field typed to be a `uuid`

[2019-08-05 08:22] hakuturu583 commented on #25
I understand string can perform UUID.
But, string representation allows users to use this field in their own way.
I really afraid of it.

[2019-08-05 08:23] hakuturu583 commented on #25
prefix and namespace is good idea, but it cannot prevent this risk completely.

[2019-08-05 08:23] hakuturu583 commented on #25
I write test code like below.

[code]

[2019-08-05 08:24] gavanderhoorn commented on #25
can you clarify which "own way" would be a problem in your opinion?

*Any* string could be used as an ID.

What we lose with `string` instead of UUID is the typ-safety.

[2019-08-05 08:26] hakuturu583 commented on #25
In my mac book air, I can generate 0.47 micro seconds.
Considering the result and sensor rate of camera, lidars, tof cameras etc..
I think it is no problem to use UUID in this field.

[2019-08-05 08:34] hakuturu583 commented on #25
If we allow to use String in tracking ID field, each tracking algorithum developer use this field freely.
For example,

Jhon "I set UUID to the trackin_id field"
Tom "I set integer value which start 0"
Emily "I set integer value which start 1"
Bob "I set random number to the trackin_id field"
Eric "I set object name to the tracking_id field"

It causes problem when we want to integrate them and bu

[2019-08-05 08:36] hakuturu583 commented on #25
If we use uuid_msg in tracking_id field, developer can know the field should be represented by UUID clearly.
So, everyone follow this method and we can integrate all of them and build complex sensor fusion pipeline easily.

[2019-08-05 08:50] mistermult commented on #25
There are two requirements on tracking_id's:
* There is a operation to compare it for equality isEqual (compare if two IDs are the same): This operations is supported by UUIDs or strings.
* The tracking_id has to be unique for each 'track'. That means that different nodes should use different IDs if they mean different things.
That means, the string "1212-1212566-121212" (converted UUID) is a vali

[2019-08-05 09:38] mintar commented on #25
I understand @hakuturu583 's point: If you have multiple distributed trackers, and you want to aggregate all the different tracks from different topics, it is nice to have UUIDs that are guaranteed to be unique across all topics.

However, I still prefer strings for all the reasons discussed before (here and in #18). I believe an aggregating node should expect IDs to be unique *per topic*; if it a

[2019-08-05 10:57] mistermult opened #27 "Clarify size in BoundingBox2D, BoundingBox3D."
The code says that it is:
[code]

Is this size_x/size[0] the distance to the center (halfsize) or the extent in x-direction?

[2019-08-05 11:44] mintar commented on #27
It's the size, i.e., the extent in x-/y-direction. I agree that the comment could be clearer - what does the bounding box center have to do with its size?

[2019-08-05 11:48] mintar commented on #26
Why not simply use a Detection3DArray for ground truth? In my experience, it's really useful to use the same format for the ground truth and the detections:

* you can re-use all existing visualizations etc.
* It's easy to compare actual values (= detections) and expected values (= ground truth)

[2019-08-05 13:03] mistermult commented on #27
I guess these are oriented bounding boxes and the orientation is saved in the center. That means if you rotate by pi/2 around z, the extent in x/y direction is interchanged :)

[2019-08-05 14:38] gavanderhoorn commented on #25
@hakuturu583 wrote:

I understand what you're saying (and I expected this rationale), but if the ID field's task is to provide a unique identifier, it wouldn't seem to matter *what* it is set to exactly, as long as it is consistent and unique. *Any* string could be made unique.

Consumers of msgs could treat the ID field as an opaque blob/cookie/sequence-of-bytes: they could still be unique, be us

[2019-08-05 14:55] mintar commented on #25
@gavanderhoorn : You still didn't 100% understand the point raised by @hakuturu583. Maybe an example helps to clarify it:

If you have **two different publishers**, both of them could set the id of an object to `some_string_i_just_made_up` (or more probably there will be implementations that will set the ids to `0`, `1`, ...), even though they mean different objects.

However, if we were to use th

[2019-08-05 15:04] gavanderhoorn commented on #25
I believe I did understand, but didn't articulate my comment sufficiently. I realise that UUIDs guarantee uniquess, even across different nodes, machines, etc and arbitrary strings do not.

The situation would seem somewhat similar to TF, where `frame_id`s also *should* be unique, but cannot be guaranteed to be. Clashes there are resolved with either a `tf_prefix` (but deprecated) or even remappin

[2019-08-05 15:41] Kukanani commented on #25
I see where you are coming from @hakuturu583, and I also understand @mintar's clarification, but I maintain that a flexible string representation is better in terms of usability, and also doesn't add extra dependencies for all package users. The usability gain of using universally-understood `string`s is greater than the usability gain of standardizing to UUID, which some developers may not have u

[2019-08-05 15:47] Kukanani commented on #26
This package is called `vision_msgs` because I designed it for use with systems that detect and classify using visual information. So I never planned to represent the world in a way that was not informed by visual information.

[2019-08-05 15:57] mistermult commented on #26
The problem is that one has to define an arbitrary bounding box and one can set multiple hypothesis per bounding box. But I understand that this package only deals with vision messages. So I understand that this is not added.

[2019-08-05 20:31] hakuturu583 commented on #25
@Kukanani How do you treat batting of the tracking_id from multiple trackers which made by multiple developers.
If you use string, we always exposed to this problem.
We can set anything in String field, so we cannot run from this problem if we use String in the field.

[2019-08-05 20:36] hakuturu583 commented on #25
I think the compatibility is the most important thing in ROS package.
String format conflicts to this.

[2019-08-05 20:43] hakuturu583 commented on #25
There is uuid generator in uuid_msgs.(https://github.com/ros-geographic-info/unique_identifier/blob/master/unique_id/include/unique_id/unique_id.h)

Using this generator and if we write which generater should be used in message comment, we can avoid conflict of the tracking_id.

[2019-08-05 20:44] hakuturu583 commented on #25
I really afraid that if we use string in the tracking ID format, people use this filed as they like.

[2019-08-05 20:48] hakuturu583 commented on #25
@mintar

You say only two, but if we want to build complex sensor fusion system such as 3 cameras and 2 lidars like autonomous driving vehicle, the batting problem become much more complex.
So, I think we should restrict how to use this field.

[2019-08-05 20:50] mintar commented on #25
OK, sorry for assuming you didn't. :)

[2019-08-05 21:01] hakuturu583 commented on #25
@mistermult I think adding namespace and restriction to the tracking ID is good idea.(https://github.com/Kukanani/vision_msgs/issues/25#issuecomment-518145435)
However, it will be implemented as a comment.
I think it is too weak, this is because comment is a just "Gentleman's Agreement".
So, I propose solution like below.

[2019-08-05 21:02] hakuturu583 commented on #25
[code]

[2019-08-05 21:07] mintar commented on #25
@hakuturu583 wrote :

By "batting" you mean conflicting / colliding?

Using UUIDs makes this specific problem easier to handle, at the cost of making other problems more difficult. For example, with strings, you can reuse IDs that your tracker or other software (like MoveIt) is already using. This seems to me a more common use case than aggregating multiple trackers by simply throwing all their me

[2019-08-05 21:08] hakuturu583 commented on #25
@mintar

right, after that we call conflicting.

[2019-08-05 21:11] hakuturu583 commented on #25
@mintar

We can convert UUID to String very easily, so I think you should convert them into String after you subscribe UUID in other nodes.

[2019-08-05 21:16] hakuturu583 commented on #25
I think this is good, but I recommend to add tracking_namespace field if you want to use String.

Republishing data is just a useless process and it makes the system complex more than necessary.

[2019-08-05 21:25] mistermult commented on #25
I'm voting for string.

[2019-08-06 01:02] Kukanani commented on #25
@hakuturu583 I'd appreciate it if you'd respond using one message rather than a chain of messages, it breaks up the dialogue and takes up visual space, making it hard to follow the flow of conversation.

Taking all this into account, I'm going to keep the tracking_id as a string. Although please note that I will soon be moving the recently merged PRs off of `kinetic-devel` and to a master branch t

[2019-08-06 01:04] #26 closed

[2019-08-06 22:44] hakuturu583 commented on #25
By enforcing UUID, we are adding dependencies and also essentially requiring that everyone use a set of boilerplate code to use the tracking_id field. This is unacceptable to me. Personally I would not want to have to go to the trouble while writing my own node. I already find it annoying enough to have to remember to set w = 1 in every quaternion.

I agree with sometimes boilerplate code annoying

[2019-08-07 02:17] Kukanani commented on #25
If we all agree to use a string and the field is encoded as a string, then it is standardized.

At this point we're just rehashing the same arguments over and over. If any new information comes to light then I'll consider it when the time comes. Thanks for the discussion!

[2019-08-08 22:22] hakuturu583 commented on #25
I still strong disagree with using string.
This harms the biggest advantage of ROS package.

[2019-08-08 22:28] hakuturu583 commented on #25
String is not "standardized".
We can set any value in this field.
In order to "standardize", we have to decide "what type of the value shoud be set" and "how the value was generated."
UUID show this very very cleary.

[2019-08-09 16:04] mistermult opened #28 "Keypoints and polygons instead of bounding boxes"
Hi,

currently I'm integrating a face detector. It does not emit a bounding boxes, but key points, e.g. one point in the center of the left eye, one point in the center for the right eye, one point for the center of the mouth (simplified). There are two possible ideas to model it in vision_msg:

1. Use one detection for each keypoint with one hypothesis. Make a bounding box of size 0x0 at the key

[2019-08-10 16:03] Kukanani commented on #28
I would recommend creating new messages that are specific to faces given
the constraints you outlined. We can talk about adding these to the package
as well. Especially if CVAT's keypoints have a defined order for face
detection as you say, it would make sense for this to be explicitly coded
in a message type. So you could have a CVATFace message type, or just a
generic FaceKeypoints message, that

[2019-10-07 15:03] #25 closed

[2020-01-30 02:16] sloretz opened #34 "Release vision_msgs to ROS Eloquent?"
Mind releasing vision_msgs to ROS Eloquent? I'd like to release a package that uses it.

[2020-02-03 14:18] Kukanani commented on #34
Sure, I should be able to get to this some time this week.

[2020-02-06 15:50] Kukanani commented on #34
https://github.com/ros/rosdistro/pull/23697

Been a while since I've done a bloom, hopefully I got everything right with ROS2.

[2020-06-25 10:33] mintar opened #35 "Release vision_msgs to ROS Noetic"
Could you please release this repo into ROS Noetic?

[2020-06-25 12:36] Kukanani commented on #35
Yes, I'll target this weekend to do that.

Thanks for the reminder!

[2020-07-05 23:31] #34 closed, assigned to nobody

[2020-07-06 13:23] Kukanani commented on #35
The rosdistro PR has been merged, so this should be released on next sync.

[2020-07-06 13:23] #35 closed, assigned to nobody

[2020-07-21 14:11] VeCAD opened #37 "Query regarding usage of vision_msgs::msg::Detection2DArray"
I can see the darknet detector values (bbox, object id) is being published using ros2 topic echo /topic. But I'm having issue pulling the detector values.

At the subscriber:
`const vision_msgs::msg::Detection2DArray::SharedPtr det_msg`

I can pull the header info as below.
` std::cout << det_msg->header.frame_id << std::endl;`

Is there any example that uses Detection2DArray at subscription side?

[2020-07-29 01:53] Kukanani commented on #37
Hi, I am not sure what code you are using to generate the detections, but if this package is being used as intended, then I think you're looking for  `det_msg->detections[0].results.id` and `det_msg->detections[0].results.score`.

The `id` field should allow you to look up the results in a lookup table that should be supplied either in the dataset or by the detector. See https://github.com/Kukanan

[2020-08-06 20:14] alsora opened #38 "Inconsistent detection ID type between development and release branch"
Hi,

in this repo he detection ID type has been updated from int to string approximately 1 year ago.
However, this change has never been propagated to the ROS 2 releases.

See https://github.com/alsora/ros2-tensorflow/issues/2

Is there a reason for that?
Could this be addressed in a new foxy release?

Thank you

[2020-08-07 14:01] Kukanani commented on #38
Hi, thanks for pointing this out. I definitely want to address this. It will probably result in a major version bump since it will break backwards compatibility.

[2020-08-21 14:37] alsora commented on #38
Thank you for the quick fix!

[2020-08-21 14:37] #38 closed, assigned to nobody

[2020-09-23 06:45] norro opened #39 "[ros2] ros1_bridge can't map ObjectHypothesis between before-noetic ROS 1 and ROS 2"
ros1_bridge can't map ObjectHypothesis between before-noetic ROS 1 and ROS 2 because of two conflicting types in ObjectHypothesis' `id` field. The field is `int64` in until ROS 1 melodic and `string` in noetic and ROS 2 (thanks @mintar for the clarification).
During compilation of ros1_bridge, the automatic mapping attempt will fail with the following error:

[code]

This probably requires a custo

[2020-09-23 06:57] norro commented on #39
Probably relates to this recent commit: https://github.com/Kukanani/vision_msgs/commit/82dda4ab3affb6e7c142054f86c7a897f0b8b41e

[2020-09-23 07:08] mintar commented on #39
To clarify: The field is `int64` in ROS1 kinetic and melodic, and `string` in ROS1 noetic and ROS2.

About the mapping rules: It's easy to convert an `int64` into a `string`, but how would you do the opposite direction?

[2020-09-23 07:13] norro commented on #39
I'd say that in a setup where it bridges the old (`int64`) world and the new (`string`) world, it is fair to assume that IDs are (string-ified) numbers.

[2020-09-23 07:19] mintar commented on #39
Fair enough. The bridge could just try whether the conversion works and throw an exception if the string cannot be converted to an int.

[2020-09-23 07:27] norro commented on #39
Might be a delicate situation, though. Custom mapping rules for the ros1_bridge are supposed to live in the ROS 2 package, IMHO, but if it is required or not is depending on the ROS 1 version in use.

[2020-09-24 23:22] Kukanani commented on #39
Thanks for the bug report!

Unfortunately I don't have the bandwidth to work on this and come up with a good solution right now. I'm happy to review PRs or advocate for a PR on the bridge repo, though. I'm going to create a "help wanted" label and apply it to this issue.

Also, note that while Melodic is not EOL until 2023, the ROS2 distros that also target Ubuntu 18 (Dashing and Eloquent) are EOL

[2020-09-24 23:23] Kukanani commented on #37
Closing due to inactivity.

[2020-09-24 23:23] #37 closed, assigned to nobody

[2020-09-24 23:24] Kukanani commented on #28
Closing due to inactivity.

[2020-09-24 23:24] #28 closed

[2020-10-09 13:35] vvigilante opened #40 "Published message is not received"
Hello!
Tested with ROS melodic on Ubuntu 18.04

**rostopic** info shows that the topic is published and subscibed as expected.
**rostopic hz** shows that the topic is being published with a frequency of ~10hz, as expected.
**rostopic echo is completely silent**, so is the subscriber node that I wrote.

It works if I change the type of the published topic to String or to Image or to Pose2D, it does

[2020-10-09 13:46] Kukanani commented on #40
Please post the code of the non-working subscriber and the exact commands
you are running in your terminal. Thanks

On Fri, Oct 9, 2020 at 08:35 Vincenzo <notifications@github.com> wrote:

--

--
Adam Allevato
(303)-818-6576
Eph. 4:29

[2020-10-09 14:00] vvigilante commented on #40
Thank you for your answer.
Here is the list of the commands:

[code]
[code]
gives
[code]

The code for the subscriber is the following.

[code]

It stays completely silent.

[2020-10-10 17:03] Kukanani commented on #40
The code you posted is incomplete. Your publisher does not `import Detection2DArray`.

In general, if `rostopic hz` works and `rostopic echo` does not, this is probably an issue with your machine setup or network transport, not the message type itself. I would investigate other issues such as
* your ROS environment variables (`ROS_IP` or `ROS_HOSTNAME` are common problems)
* checking that both ter

[2020-10-10 17:03] #40 closed, assigned to Kukanani

[2020-10-12 07:29] vvigilante commented on #40
Dear Kukanani,
thank you for your help.

roswtf gives
[code]

Setting `ROS_ID=127.0.0.1` does not help.

The problem only happens if I `apt install ros-melodic-vision-msgs`.

If I clone the repository, `checkout melodic-devel` and `catkin build`, everything works as expected

[2020-12-03 22:37] SteveMacenski opened #41 "Interest in moving this to be official vision_msgs in ros-perception org?"
Hi,

I see this package being used as a standard interface for detection / AI models in ROS. It would be great if this was more "official" then as a `ros-perception/vision_msgs` package so that it can be "official" vision interfaces for ROS. I have the permissions required to help make this happen if you like!

Steve

[2020-12-03 22:40] SteveMacenski opened #42 "Messages to contain uncertainty information"
In reviewing the messages, I see they are missing measures of uncertainty in the detections / output values. It would be valuable information to communicate to downstream uses of these messages.

[2020-12-04 08:05] mintar commented on #42
Actually, that field already exists. It's called `score`:

https://github.com/Kukanani/vision_msgs/blob/82dda4ab3affb6e7c142054f86c7a897f0b8b41e/msg/ObjectHypothesis.msg#L8-L10

[2020-12-04 08:11] mintar commented on #41
I fully agree, that would be a great idea! I probably don't have to tell you this, but make sure to actually *move* the repo, not fork/copy it. That way, all the links (and even git clone) will keep working with the old URL (GitHub does a HTTP redirect).

[2020-12-04 13:31] Kukanani commented on #41
Hi Steve,

I fully support moving this package to `ros-perception`. The only reason it didn't get created there originally was that we weren't sure how much community adoption it would see.

[2020-12-04 13:32] Kukanani commented on #42
Martin's right. We also provide covariance information for the detected pose:

https://github.com/Kukanani/vision_msgs/blob/82dda4ab3affb6e7c142054f86c7a897f0b8b41e/msg/ObjectHypothesisWithPose.msg#L20

[2020-12-04 19:01] SteveMacenski commented on #42
I was primarily looking at the bounding box messages, which do not contain any score / covariance information. After more looking, it seems that those messages are supposed to be a component of the Detection / Classification messages so that's all good.

Thanks

[2020-12-04 19:01] #42 closed, assigned to nobody

[2020-12-04 19:03] SteveMacenski commented on #41
Awesome! I think the easiest way to handle this is the following
- Transfer the repo to me, since you don't have admin on `ros-perception`
- I'll transfer it to `ros-perception`. I'm not sure what all happens with settings in that case, so I'll make sure you still have admin over there in case it removes it for some reason

[2020-12-05 00:58] Kukanani commented on #41
Sounds good. Transfer initiated.

[2020-12-05 01:17] SteveMacenski commented on #41
I see the request, github says it might take a bit to get over to my side so I can move it to `ros-perception`. Hopefully should happen tonight, if not over the weekend. I'll follow back here when its done.

[2020-12-05 01:18] SteveMacenski commented on #41
![image](https://user-images.githubusercontent.com/14944147/101229364-b82c5d00-3654-11eb-9500-0dd2302c7cd3.png)

Well this is truly unique. Its on my account but no `settings` icon for me to move it around... mhm maybe takes a bit for all the permissions to update? Do you still see the settings icon? If so, might be good to add me as an admin in case there's a difference between ownership and perm

[2020-12-05 01:22] Kukanani commented on #41
What have you done to my repository? 😛
![image](https://user-images.githubusercontent.com/6893343/101229446-f7af7500-3665-11eb-95a9-1e8b9c394bc0.png)

[2020-12-05 01:24] SteveMacenski commented on #41
It'll all work itself out, don't worry :smile: I have no interest in keeping it. If anything else, I'll email someone at GitHub on Monday. They're usually pretty good about working through issues like this quickly. This isn't the first time I've done the "repo-shuffle" to move things into `ros-*`, but first time it didn't automatically give me a `settings` panel...

[2020-12-05 01:36] Kukanani commented on #41
Sounds good! Hopefully there are just some database updates that need to propagate around. Please keep me posted.

[2020-12-05 02:26] SteveMacenski commented on #27
Now(-ish) would be a good junction to clarify this. Would something like `The absolute size (in pixels)...` fix this issue? I think that makes it clear its the total size, not the half size. I can submit a couple of patches to close this ticket out before the `ros-perception/vision_msgs` discourse announcement post.

[2020-12-07 16:02] SteveMacenski commented on #41
Nothing changed now on Monday, I contacted GitHub for support.

[2020-12-08 19:28] SteveMacenski commented on #41
https://github.com/ros-perception/vision_msgs

Now on `ros-perception`!

[2020-12-08 19:28] #41 closed, assigned to nobody

[2020-12-09 02:50] peci1 opened #43 "vision_msgs standardization"
Hi, I come from the Discourse post, and I expected there will be some prepared space for discussion. I haven't found it, so I'm creating it here :) If I misunderstood how ideas/comments should be added, please, tell me where to post. Generally, I'm not a fan of all-in-one issues, but as you asked more for opinions than for resolute statements/bug reports, it would be complicated to post them one-a

[2020-12-09 10:09] mintar commented on #43
Hi @peci1, thanks for your insightful comments. I agree with most of your points. As a general comment, we'll have to find a tradeoff between cleaner message design (splitting out the `source_img` and `source_cloud` fields, `ObjectHypothesisWithPose`) and the additional complexity from using composition, which will result in an even deeper nested hierarchy. We already have monstrosities like `det3

[2020-12-09 10:17] mintar opened #45 "Switch default branch to noetic-devel"
The default branch is still kinetic-devel. Since kinetic is EOL in 4 months, we should switch to noetic-devel.

[2020-12-09 15:12] Kukanani commented on #45
I fully support this.

[2020-12-09 20:31] SteveMacenski commented on #45
Agreed. Working on getting the settings panel back

(... again :smile:)

[2020-12-09 22:08] SteveMacenski commented on #43
Lets try to keep these messages smaller and more pointed...

Yes. Standard detections are in a 2D image frame. Most AI methods right now cannot do 3D (you have a bounding box on an image, it doesn't make sense to have a 3D representation for 2D pixel coordinates). We're working in pixel frame in AI, not world coordinates.

UUIDs could be useful, I agree. The usefulness of UUIDs @mintar is when usi

[2020-12-10 02:04] Kukanani commented on #43
Thanks for all the discussion, everyone. Good to see this repo getting some love :)

* I agree with Steve, 2D and 3D really should be separate.
* I maintain [my stance that strings are superior to UUIDs](https://github.com/ros-perception/vision_msgs/issues/25#issuecomment-518287217); I'm open to hearing new arguments. However, the argument used in `radar_msgs` was that it was better than using som

[2020-12-10 09:00] peci1 commented on #43
I went through our detection messages, and this is what I found. We have a field explicitly storing the objectness. I'm not sure if this is a generally useful thing or if it's just our particular need. We also like to store what sensor is the origin of the detection - the frame_id can change over time (e.g. by doing cutouts and such), but we still like to know which sensor captured the source imag

[2020-12-10 20:11] SteveMacenski commented on #43
I think that's not really a good move. If we "recommend" something, we should just say that you should "do" that thing. If we're telling people to use UUIDs, then we should just use the proper UUID message. As ROS gets more mature, some standards need to get more strict to enforce good behavior.

 Detections from some arbitrary AI detection algorithm have no way of assigning a meaningful ID, they'

[2020-12-11 04:22] SteveMacenski commented on #45
Done, thanks for the note!

[2020-12-11 04:22] #45 closed, assigned to nobody

[2020-12-11 09:05] mintar commented on #43
### UUIDs

@peci1 wrote:

You probably looked at the Kinetic/Melodic version of the messages, where `id` was still an `int64` and `tracking_id` didn't exist. In Noetic, there are two ID fields (see below):

* `ObjectHypothesisWithPose.id`: This is the detected **class** (`human`, `mug`, ...). I think we can all agree that this should remain a string, correct? Also perhaps `id` wasn't the best name

[2020-12-11 21:56] SteveMacenski commented on #43
On `geometry_msgs`, I don't think that's in the scope of this discussion. We're mainly looking to create stronger `vision_msgs` interfaces. It's a whole other discussion to move some of these into `geometry_msgs` that will likely require years of stability in `vision_msgs` before that would be a serious consideration.

[2020-12-15 12:38] dorkamotorka opened #46 "ObjectHypothesisWithPose array"
Why is there no array for ObjectHypotesisWithPose? I understand anybody can do it themselve, but this doesn't add it to ROS standard msgs.

[2020-12-15 13:07] tpet commented on #43
Thanks for the discussion. It would be helpful if a general-enough representation is found which efficiently cover typical use cases.

I would suggest to organize the messages around common vision tasks, keeping the representation footprint small for typical use cases while keeping the messages general enough to allow other uses cases as well.

For example, for a 2D detector the output would be a

[2020-12-15 13:51] mintar commented on #46
`ObjectHypothesisWithPose` is intended to always be used inside a `Detection2D` or `Detection3D` message.

You could say that `Detection2D`/`Detection3D` *are* arrays of `ObjectHypotesisWithPose`, plus some other useful information (header, bbox, source data and tracking id).

[2020-12-15 14:15] tpet commented on #43
I just realized where some of the 2D/3D confusion may come from. It seems that now the detection messages are organized more around which input modalities were used to generate them (2D image / 3D lidar) rather than around what information is being produced (2D bounding boxes / 3D poses with bounding boxes). I think the latter would be more useful since, in general, there can be any combination of

[2020-12-15 14:41] mintar commented on #43
I agree with you that the messages are quite complex at the moment (maybe too complex) and it's worth thinking about having a simpler `Detection2D` message.

However, I wouldn't worry too much about a couple of bytes. A single 640x480 RGB image has 900 kB, so it doesn't matter too much whether the detection message for that image is 0.1 kB or 0.5 kB.

A much better argument for removing weird fiel

[2020-12-15 15:13] tpet commented on #43
(I assume you meant vision_msgs/ObjectHypothesis[] results in the bottom code block.)
Yes, that would definitely be a reasonable update in the direction I'd like to see.

[2020-12-15 17:05] mintar commented on #43
Yes, that was a copy-paste error. I've edited my comment above and fixed it, thanks!

[2020-12-15 17:19] tpet commented on #43
I think that the same thing can be done with `Detection3D`. The pose and bbox would be defined just by `BoundingBox3D` and semantics by `ObjectHypothesis[] results` instead of `ObjectHypothesisWithPose[] results`.
I don't see the point in having both `ObjectHypothesisWithPose[] results` and `BoundingBox3D bbox`.
Also, both `source_cloud` and `is_tracking` fields could be removed.

I would consider

[2020-12-15 17:42] SteveMacenski commented on #46
But this ticket does bring up a good point that maybe that's context we can put into the msg as a comment

[2020-12-15 17:59] SteveMacenski commented on #43
So trying to accumulate changes that have some momentum to move this conversation forward to specific changes. I'm going to have a list below of owners and actions that we should take to split out these discussions into appropriate locations so we can take action:

- @peci1 can you submit a PR to `ObjectHypothesisWithPose should use composition`? That seems to have no objections and we can continu

[2020-12-16 08:26] mintar opened #47 "Discussion about UUIDs"
As [requested](https://github.com/ros-perception/vision_msgs/issues/43#issuecomment-745462455) by @SteveMacenski, here's a new issue for continuing the discussion around UUIDs. As a starter, I'm going to summarize my comment from here: https://github.com/ros-perception/vision_msgs/issues/43#issuecomment-743068675

### Main Question

Should we change the type of `Detection*D/tracking_id` to [`uuid_

[2020-12-16 08:34] mintar commented on #43
Done: #47

Could you clarify what you mean by that sentence? I don't understand who's suggesting to remove what. Is this a response to my comment https://github.com/ros-perception/vision_msgs/issues/43#issuecomment-745336813 ?

@Kukanani @SteveMacenski : A general question about procedure: `vision_msgs` is already released into noetic. Am I correct to assume that we'll be restructuring the message

[2020-12-16 08:38] SteveMacenski commented on #43
No, no changes on released distributions, ROS1 is done for on all the interfaces. The state of things now is how they'll be. This is only for new ROS2 distributions moving forward since we cannot break ABI in the middle of an established distribution (especially Noetic as the last LTS ROS distribution). All migrations have been largely completed to Noetic by now so this would represent a non-trivi

[2020-12-16 08:42] gavanderhoorn commented on #47
pedantic, but doesn't this depend on the needs of the human in question? Putting UUIDs as `string`s in a field loses semantics, which is certainly a negative consequence of doing that. Introspection tools would have to parse the field to figure out it's a UUID. Some developers might consider that quite a loss.

Human readability can certainly be positive, but it doesn't seem objective to state in

[2020-12-16 08:44] mintar commented on #43
Ok, thanks for the clarification. So all PRs should be targeted against the `ros2` branch?

[2020-12-16 08:50] mintar commented on #47
@gavanderhoorn Can you come up with a scenario where switching the `tracking_id` field to `uuid_msgs/UniqueID` is an advantage? I've tried to describe such a scenario above, and why I think it's easy to handle without forcing the use of UUIDs.

[2020-12-16 08:51] mintar commented on #47
BTW, I grant you the point that declaring something as "much more user friendly" wasn't very objective of me. :)

[2020-12-16 08:55] gavanderhoorn commented on #47
that was mostly it. As I said: it was pedantic.

I do believe it's important to keep in mind that human-readability doesn't seem like something which would be too important in an actual *application*. During development: certainly. Afterwards? Depending on what the application is, there may never be any human eyes looking at those messages.

[2020-12-16 09:13] mintar commented on #47
I absolutely agree. If somebody can convince me that requiring UUIDs has significant advantages in this use case, it might be worth sacrificing the advantages of permitting arbitrary strings. It's always a tradeoff.

[2020-12-16 20:15] SteveMacenski commented on #47
Agreed, though there's been an argument made in other `msgs` to have classes be enums where the first `0-N/2` are reserved for ROS standardization that we could create a list of class objects for enums to belong to. Then `N/2 - N` would be reserved for user-specific classes. That's what we agreed to for the `radar_msgs`. If that sounds interesting, we can talk about that too, but I was not plannin

[2020-12-17 10:53] mintar commented on #47
**TL; DR:**

* rename `tracking_id` to `object_id` or even just `id`.
* `tracking_id` should remain optional; stateless object detectors that just work frame-by-frame should leave it empty.
* keep it a `string`, so that keys in an environment model/database can be used here.
* require that the `results` array be sorted in descending order by their `score`.
* rename the old `id` field to `type` or

[2020-12-17 19:46] SteveMacenski commented on #47
[code]

OK, so agreement on the `tracking_id` -> `id`, we're getting somewhere.

That seems that too nitty-gritty of a thing to require, the outputs of alot of systems don't promise that so you'd be forcing people to own a sorting step.

To what?

In which message, `id` doesn't exist for `Detection*D`, so I assume you mean object hypothesis. What's wrong with ID in that context? ID, class, and typ

[2020-12-17 19:55] SteveMacenski commented on #47
A specific recommendation (minus comments):

[code]

- `tracking_id` -> `id`
- Added `class` field so that you don't have to iterate through `results` to get the class type. Then need to iterate if you care about what else it could have been or metadata like confidences. Class could be type or something else if you like for the java issues, that's fine. I think you understand what I'm trying to pr

[2020-12-18 09:34] mintar commented on #47
Yup.

Yeah, it sounds like something many people would mess up.

Sorry, I meant "*remove* the `is_tracking` field", if we're keeping strings. If we switch back to UUID, we'll probably need it (see below).

Yes, I'm talking about `ObjectHypothesis`. I think it's very confusing to have two fields called `id`, even if they are at different levels of the hierarchy. There have been a couple of issues h

[2020-12-18 22:32] SteveMacenski commented on #47
so...
- remove `is_tracking`
- `tracking_id` to `id`
- `id` in object hypothesis to `class` or `type` (`object_id`)
- `class` in root of message for easy access.

Actually, maybe we should leave object hypothesis alone and just make `tracking_id` to `type` so nothing changes there.

Easily. I have 3 cameras on a robot and I'm running CNNs on their images in 3 instances of a CNN node. I'm using tho

[2020-12-19 09:24] mintar commented on #43
I'm not @peci1, but I've opened a PR anyway: #48

[2020-12-19 09:51] mintar commented on #47
Not `object_id` (we're talking about the class here, not the object). Otherwise agreed!

I didn't get that. Are you proposing to rename `tracking_id` to `type`? That would be wrong.

So that's the exact same scenario as I outlined in the body of this issue. The problem that track IDs from different detector nodes can collide can easily be solved by keeping the outputs of the 3 detectors separate i

[2020-12-20 21:15] Kukanani commented on #27
`absolute size` or `total size` would seem to clear it up for me. We should also probably clarify that `relative to the pose of its center` includes orientation (i.e. the x and y axes are expressed in the frame defined by the the `center` field).

[2020-12-20 21:21] SteveMacenski commented on #43
Composition with object hypothesis has been merged, UUID discussions are on-going and haven't started the discussions on the data decoupling.

[2020-12-20 21:22] SteveMacenski commented on #27
I don't think we need to change the name of the field in the message, I think we just need to add a comment to clarify what the value means.

[2020-12-20 22:26] Kukanani commented on #47
Thanks for hashing out the details of this issue. Given our running list of changes, as I understand them:

    * remove `is_tracking`
No objections. I have never used this field, and I've never seen of anyone else using it. If anything this should probably be metadata in `VisionInfo` (not proposing that change right now, just pointing out that if someone wants this field back, let's talk about ad

[2020-12-20 22:45] Kukanani commented on #46
Closed by #46
@tp4348 feel free to re-open if this doesn't address your needs.

[2020-12-20 22:45] #46 closed, assigned to nobody

[2020-12-21 09:52] mintar commented on #47
No, that wasn't changed in #48. I've created a new pull request that does this: #52.

[2021-01-05 04:45] #27 closed

[2021-01-07 13:50] mintar commented on #43
I don't see the point in having both ObjectHypothesisWithPose[] results and BoundingBox3D bbox.

No, each object hypothesis needs its own pose, and so does the bounding box. This is because the bounding box pose is defined as the translation between the `header` frame and the center of the bounding box; however, the reference coordinate system of an object doesn't have to be in the center of its b

[2021-01-07 14:21] tpet commented on #43
@mintar I would tend to define the messages around tasks and respective outputs such as 2D/3D bounding box object detection. I meant Detection2D/3D message to represent bounding box detection, which is not clearly visible from the names as it could be. In that case, the task of identifying 3D reference frames (without bounding box) is simply a different task and should have a different message (or

[2021-01-07 16:33] mintar commented on #43
Why do you think the messages here should be restricted to bounding box object detection?

I believe they should continue to allow full 6DoF pose estimation. This is how they are defined and used at the moment, for example by [DOPE](https://github.com/NVlabs/Deep_Object_Pose).

My point was that the pose in ObjectHypothesisWithPose is different from the bounding box pose. For example, here's a mes

[2021-01-07 17:58] SteveMacenski commented on #47
I think we've settled that we're just going to leave it the same as it is with the new name.

[2021-01-07 17:58] #47 closed, assigned to nobody

[2021-01-07 18:02] SteveMacenski commented on #43
I agree with @mintar, I see no real to change this. An orientation for 3D is important so the bounding boxes can be non-axially aligned. The 2D case is less used in current technologies, but there are networks which do give oriented bounding boxes.

The only thing left I think that there's consensus on is the decoupling of data (e.g. remove the PC2 / image fields from the messages). If someone wan

[2021-01-07 19:48] tpet commented on #43
That's a misunderstanding. I think that there should be messages for standard vision tasks which are organized based on what output is produced. E.g., there should be messages for bounding box detection, which could be named Detection2D and Detection3D (BoundingBoxDetection2D and BoundingBoxDetection3D would be more clear).

Bounding box pose in Detection3D is full 6DoF pose. You can neglect the s

[2021-01-07 19:50] SteveMacenski commented on #43
Please look in this repository, much of what you describe already exists.

[2021-01-08 01:44] peci1 commented on #43
PR for decoupling from data is created: #53.

[2021-01-08 02:16] peci1 commented on #43
Even after concluding the new UUID discussion as wontfix, I still have some doubts about the concept of `tracking_id` (or, newly, just `id`) here. And it is closely tied (again) to the concept of decoupling.

Strictly speaking, a **detector** outputs **detections**. By which I understand bounding boxes or similar things. But it does not (in my view) associate the bounding boxes with any objects (j

[2021-01-08 17:03] mintar commented on #43
Sure, but for some detectors the bounding box may not be linked to the specific class of object. One object detection system I worked with did the following:

1. remove the table plane, segment the remaining point cloud into point clusters (= potential objects)
2. classify each point cluster

In this case, the bounding box was the bbox of the point cluster, and the results array contained all poss

[2021-01-08 17:09] mintar commented on #43
Yes, that sounds like an excellent suggestion!

Personally, I would strongly prefer to include the Detection message in the Track message. The extra bandwidth is negligible, and it's much easier to use than using a synchronizer to subscribe to two different topics and then iterate the arrays in those messages in parallel.

[2021-01-08 17:23] tpet commented on #43
@mintar

But couldn't you just use multiple bounding boxes, each with a single object hypothesis? That would be still with much less overhead compared to the current state.

[2021-01-08 17:50] tpet commented on #43
@peci1

For a single input (image / point cloud) you get multiple of these bounding box detections (similarly to e.g. instance segmentation), so you kind of get objects (not only classes), e.g. you "know" that these are different identities even if you don't link them across multiple timesteps.

@peci1 @mintar

I think that could easily become not that negligible, definitely in the current setup,

[2021-01-08 18:53] peci1 commented on #43
@tpet

My understanding is that per one input image/cloud/..., the detector outputs one `DetectionXDArray` message. The detections from this single detector run are "identified" by their position in this array, and it should be apparent that each entry in this array denotes (possibly) a different object. And this should apply to Tracks, too. One TracksXDArray per one DetectionXDArray.

That's why

[2021-01-08 22:10] #20 closed

[2021-01-09 17:49] Kukanani commented on #43
@tpet

I don't think anyone was advocating for storing the entire *Detection history* in the Track message. Instead, the point was just that Tracks are based on Detections over time. I certainly am against storing detection history, anyway. But it is also possible that a single "current location of a specific object" as provided by one tracker could be based on multiple detections (from different

[2021-01-15 18:23] silasalves opened #54 "Incompatibility between messages for different ROS distros"
I noticed that some messages (in my case, Detection2D) is different on ROS Melodic and Noetic:

Melodic | Noetic
------------ | -------------
std_msgs/Header header<br>vision_msgs/ObjectHypothesisWithPose[] results<br>vision_msgs/BoundingBox2D bbox<br>sensor_msgs/Image source_img<br><br><br> | std_msgs/Header header<br>vision_msgs/ObjectHypothesisWithPose[] results<br>vision_msgs/BoundingBox2D bbo

[2021-01-15 18:28] Kukanani commented on #54
`is_tracking` and `tracking_id` were added after `melodic` was released, and we have a general rule in the ROS community to not change message definitions after a distro release, because this causes md5 compatibility issues (the message has to be rebuilt everywhere). Therefore, the fields were added in `noetic` but not earlier versions.

Please note that the tracking fields are going away or being

[2021-01-15 18:31] silasalves commented on #54
Thanks a lot for the heads-up!

[2021-01-15 18:31] #54 closed, assigned to nobody

[2021-04-09 08:17] lukicdarkoo opened #55 "Rolling Release"
Are there any plans on releasing this package to Rolling?

[2021-04-10 22:12] Kukanani commented on #55
Sure thing. I’ll look into it on Monday. Thanks for the ping!

[2021-04-12 04:04] r0gi opened #56 "Latest apt release for ROS Noetic on Ubuntu 20.04 has int64 id instead of string id"
OS: Ubuntu 20.04 (focal)

Installed a fresh ROS Noetic following the official instructions but installing vision_msgs via apt doesn't install the latest version
[code]

`apt show ros-noetic-vision-msgs`
[code]

`rosmsg show vision_msgs/ObjectHypothesisWithPose`

[code]
Which is different to the [latest Noetic API reference](https://docs.ros.org/en/noetic/api/vision_msgs/html/msg/ObjectHypothesisWi

[2021-04-12 18:14] SteveMacenski commented on #56
I'm not entirely sure - @Kukanani? I see 1.0.0 released last off noetic but I don't see `1.0.0` in the package.xml tags of the noetic branch. I still see `0.0.1` in rosdistro https://github.com/ros/rosdistro/blob/master/noetic/distribution.yaml#L8048 so that `1.0.0` wasn't bloomed up?

[2021-04-13 05:41] Kukanani commented on #55
I released to rolling, but was unable to get `bloom` to automatically create the PR in `rosdistro` after several tries.

https://github.com/Kukanani/vision_msgs-release

I keep getting various 403 errors, such as the following:
[code]

I'm not really interested in filling out the lengthy rosdistro PR template myself, and more generally I'd like to get this problem resolved on my machine. @SteveMac

[2021-04-13 16:03] SteveMacenski commented on #55
I don’t know, haven’t seen that before

[2021-04-14 14:10] Kukanani commented on #55
Tracking the problem at https://github.com/ros-infrastructure/bloom/issues/632. If there are no updates there for a few days I'll make the PR manually.

[2021-04-14 14:27] Kukanani commented on #56
@r0gi sorry for the confusion.

There has not been a release since 0.0.1 in ROS1. The commit tree is fairly messy; I think that most changes that are on `noetic-devel` should be in `master` instead. See screenshot from `gitk` at the end of this post.

I would bloom up another release for `noetic` but this will represent a breaking change for current package users. I seem to remember it being a gen

[2021-04-14 18:01] SteveMacenski commented on #55
Opening the PR is the last step, so it should be ready to go with a body block to just copy paste in if that was the only issue

[2021-04-14 18:05] SteveMacenski commented on #56
Still the right answer -- was that released before we moved this into `ros-perception`? I suppose I missed that. We should probably revert any changes from that release in the `noetic` branch if we're not going to re-release with changes.

I suggest to delete `master`, what value does it really provide if we don't release it and the changes between 0.0.1 and 1.0.0 are mostly superficial? We're not

[2021-04-16 13:38] Kukanani commented on #56
Yes, I believe so.

Yes, I'll remove. At the time, I was expecting at least one more ROS1 release. It doesn't serve much purpose now. I guess that `master` could potentially be used to ease the transition from ROS1 to ROS2, or to help fix compatibility issues like #39 for all the changes we recently made to the package. In other words, it could be the "ros1 version of the ros2 message definitions"

[2021-04-16 13:51] Kukanani commented on #55
https://github.com/ros/rosdistro/pull/29188

[2021-04-16 14:03] Kukanani commented on #43
Closing due to inactivity.

[2021-04-16 14:03] #43 closed, assigned to nobody

[2021-04-16 14:06] Kukanani commented on #56
`master` is no more.

[2021-04-16 18:16] #55 closed, assigned to Kukanani

[2021-04-16 18:18] #56 closed, assigned to Kukanani

[2021-04-16 18:18] SteveMacenski commented on #56
It has been reverted

[2021-04-18 22:04] r0gi commented on #56
Thank you, could you also trigger an update for the [API reference](https://docs.ros.org/en/noetic/api/vision_msgs/html/msg/ObjectHypothesisWithPose.html) so that it is consistent with the noetic release?
From the linked page it says "_autogenerated on Tue, 21 Jul 2020 03:42:48_" so it is still showing the old type.

[2021-04-20 02:42] Kukanani commented on #56
I don't think I have the ability to update the API reference. Looking at the dates, it seems that the last autogeneration was a few days after the last commits were pushed to `noetic-devel`. Maybe we just need to wait a few more days for the changes to be picked up?

[2021-07-19 09:51] lukicdarkoo opened #59 "Galactic Release"
Like in #55, we also need a Galactic release

BTW, thank you for the Rolling release :)

[2021-07-19 18:30] SteveMacenski commented on #59
@Kukanani I was going to do it, but realized that the release repo was still under your github user ID.

If you'd like to share that responsibility, you could transfer the repo to me and then I'd transfer it to https://github.com/ros2-gbp such that it could be maintained even if you and I were hit by freak, independent, trucks (or a coordinated strike against the vision_msgs maintainers by the cab

[2021-07-21 00:15] Kukanani commented on #59
We transferred `vision_msgs-release` to `ros2-gbp` (see https://github.com/ros/rosdistro/pull/29311#discussion_r646969374). Are you referring to a different release repo?

[2021-07-21 00:31] Kukanani commented on #59
Created the 3.0.1 release to capture #58.

rosdistro PR for Galactic is here: https://github.com/ros/rosdistro/pull/30278

This was much easier than the "two steps forward, one step back" that was the rolling release (#55).

LIDAR manufacturers thwarted....for now! Seriously though, @SteveMacenski let me know if you have permissions on the [release repo](https://github.com/ros2-gbp/vision_msgs-rel

[2021-07-21 00:41] SteveMacenski commented on #59
I do, sorry for some reason when I went to run it it looked like it was still on your repo. I do have access to anything in ros2-gbp

[2021-07-21 00:41] #59 closed, assigned to nobody

[2021-09-19 10:07] khaghanijavad opened #61 "Release for ROS2 Galactic"
Hi,

Thank you for your package.

I need this package as a dependency for installing yolo-darknet detection in ROS2-Galactic.
However, I could not find "vision_msgs" for ROS2-Galactic. Seems there was a discussion on this in #55 & #59, but I could not solve the problem.
Could you please share (a link to the) implementation of your package for ROS2?
Thanks.

[2021-09-19 15:12] SteveMacenski commented on #61
https://github.com/ros/rosdistro/pull/30278

It already is in galactic

[2021-09-19 15:12] #61 closed, assigned to nobody

[2021-10-27 18:41] kisg commented on #39
PR #57 broke this for noetic as well, because it reverted the id to integer instead of a string and ros1_bridge cannot handle this.

[2021-12-11 03:50] ferrari700 opened #62 "About catkin_make question"
Hello, I am sorry to disturb you. The following error occurred when I used catkin_make in a workspace. I am sure that there is a vision_msgs folder in my src folder. How should I solve it? Thank you so much!
![Selection_017](https://user-images.githubusercontent.com/72401926/145662754-2ad38196-c92e-4491-95ca-b69afbf7793f.jpg)

[2021-12-20 10:24] s-sarahSM commented on #62
@Kukanani
I have the same problem mentionned by @ferrari700
I am working on Nvidia jetson AGX Xavier , ROS Melodic and Ubuntu 18.04
Thank you if you can help

[2021-12-20 17:25] Kukanani commented on #62
Hello, please provide steps to produce a minimal working example, ideally using a docker container.

[2022-01-28 07:36] igillespie commented on #62
Just a reminder to clone the relative branch, I'm on ros2-galactic, so I used
`git clone https://github.com/ros-perception/vision_msgs.git -b galactic`
It compiled fine. I made the mistake of not specifying the branch the first time and had build issues.

[2022-02-07 15:29] ngeerlingsriwo opened #63 "Segmentation array option in Galactic"
Dear maintainers,

vision_msgs provides communication options for classification and detection tasks, but what of segmentation tasks? Up till ROS2 Foxy I (mis)used the DetectionXDArray messages for this, where I put the segmented binary mask and segmented pointcloud in source_img and source_cloud respectively. I noticed that these fields have disappeared in the Galactic branch. What would be the r

[2022-02-08 02:15] Kukanani commented on #63
I'm a bit confused about your use case. Your 1st option proposes an image or pointcloud mask, but then also includes an object pose. Does the output of your segmentation also include pose information?

As you have seen, [we have made a conscious decision](https://github.com/ros-perception/vision_msgs/pull/53) to have vision_msgs **not** depend on `sensor_msgs`. Segmentations can be represented sev

[2022-02-08 02:30] SteveMacenski commented on #63
I think having a message type for 2D segmentation from a typical 2D-AI segmentation algorithm would be valuable. It would be similar to image data but having additional metadata fields and removing some other non-relevant fields.

I was having a conversation with another group about this topic just days ago as well and I was surprised to see that gap in this package.

[2022-02-08 15:56] mintar commented on #63
@SteveMacenski  wrote:

For normal segmentation images (i.e., where each pixel is labeled with a semantic class), I've always been using normal `sensor_msgs/Image` messages. The advantage compared to custom messages is that you can use all standard ROS functionalities for processing images: working with `cv_bridge`, `image_transport` and OpenCV in your C++ code, using `image_proc` and `image_geome

[2022-03-15 23:45] tfoote opened #65 "Improper use of Pose2D datatype in BoundingBox2D"
The semantic definition of Pose2D datatype represents metric position in meters (As per the default units [REP 103](https://www.ros.org/reps/rep-0103.html)) while the BoundingBox2D says that it's in pixels.

https://github.com/ros-perception/vision_msgs/blob/ef04cafde553780569bb53f0d0bd3d0edc04bfc4/msg/BoundingBox2D.msg#L7-L8

This should not be redefining the units in an established submessage. A

[2022-03-16 00:42] SteveMacenski commented on #65
Seems reasonable to me. @ijnek can you update your PR in guidance with this instead? https://github.com/ros-perception/vision_msgs/pull/64

[2022-03-16 02:53] #65 closed, assigned to nobody

[2022-03-16 05:51] ijnek opened #66 "Suggestion for new msg type: vision_msgs/Point"
Along with the changes in https://github.com/ros-perception/vision_msgs/pull/64, I want to suggest separating the position (x, y) from `vision_msgs/Pose` into a new msg `vision_msgs/Position`.

Often, there are cases where I want to store a point in an image (where heading doesn't make sense), and there is no appropriate message type for it. vision_msgs seems like the appropriate place for this so

[2022-03-16 05:52] SteveMacenski commented on #66
Seems reasonable to me if you update all the appropriate locations

[2022-03-17 02:40] #66 closed, assigned to nobody

[2022-03-20 23:40] vinnnyr opened #68 "Galactic BoundingBox3DArray message not generated for Python"
In Galactic, `BoundingBox3DArray` does not show up as a generated message for python, for neither the apt binary, nor when building from source:

[code]

This occurs in a fresh docker container too, and could be replicated there: https://asciinema.org/a/vtbiRQtrlSXIvhR25SM7cMLS7

If you look at the `__init__.py` for the message (for binary located here: `/opt/ros/galactic/lib/python3.8/site-packag

[2022-03-20 23:45] vinnnyr commented on #68
Ok nevermind, I realize what happened. That message is present in the `ros2` branch, but not the `galactic` branch, and therefore I guess it won't be released for `galactic`.

[2022-03-20 23:50] vinnnyr commented on #68
well maybe I can re-open this issue just to ask -- _can_ it be cherry-picked onto the `galactic` branch / released for the next galactic sync, or does it break some sort of rule?

[2022-03-20 23:55] Kukanani commented on #68
Actually, [the file](https://github.com/ros-perception/vision_msgs/blob/galactic/msg/BoundingBox3DArray.msg) does exist in `galactic`, but it's not in the CMakeLists.txt [message files list](https://github.com/ros-perception/vision_msgs/blob/76d8ecd16e5aa2dbfcbd279077ee5f09330958cf/CMakeLists.txt). Or at least, it wasn't, until I just pushed it a few minutes ago. Now visible [here](https://github.

[2022-03-20 23:57] Kukanani commented on #68
Please let me know if this works for you and we can create another release.

And just FYI, my policy (which I believe is standard for most ROS message packages) is to not make any changes to existing messages on a given distro (because this will change md5sums), but adding *new* messages is no problem.

[2022-03-21 00:03] vinnnyr commented on #68
yes this works for me now -- thank you!

[2022-03-21 00:44] Kukanani commented on #68
new release created (3.0.2), PR here: https://github.com/ros/rosdistro/pull/32488

[2022-03-21 00:44] #68 closed, assigned to nobody

[2022-04-07 02:59] igor-markovic opened #69 "BoundingBox2DArray doesn't exist in noetic release (apt)"
[The wiki](http://wiki.ros.org/vision_msgs) shows `BoundingBox2DArray` as being an available message in noetic.

However, when installing `ros-noetic-vision-msgs` via apt, the message definition is missing. It looks like the [release repo](https://github.com/ros2-gbp/vision_msgs-release/branches/all?query=noetic) last updated the noetic branch in 2020, which was before the array msg [was added](ht

[2022-04-09 16:51] Kukanani commented on #69
I don't know why the documentation updated when I did not create a new release. Either way, here's the PR for the release to add the bounding box array messages. https://github.com/ros/rosdistro/pull/32721

[2022-04-26 22:35] igor-markovic commented on #69
`BoundingBox2DArray` is now a message when installing the latest version, thanks!

[2022-04-26 22:35] #69 closed, assigned to nobody

[2022-05-06 16:34] geoeo opened #70 "Ros2 Rolling has a breaking Pose2D msgs"
Im so confused.

I just upgraded to ros2 rolling on a machine and my Pose2D msgs is different from galactic. The reason why I am opening this here is that according to the path, the Pose2D reference is on vison_msgs not in geometry_msgs

New:
[code]

As you can see this class has a position element which wraps x,y. These two values are supposed to be inline? Where does this come from. I cant see t

[2022-05-06 18:33] SteveMacenski commented on #70
We did indeed add a new Pose2D message to this project starting in v4.0.0 which should be in Humble and Rolling (I checked too, it is released to both, but I can't speak if its been synced yet).

We did this based on feedback of abuse of that message time and because the plan is to deprecate the geometry_msgs version of it. While it is API the same, yes, it is in a new location so from a code auto

[2022-05-06 22:07] geoeo commented on #70
I see, so this is intended and known that this breaks interfaces to galactic?

[2022-05-06 22:43] SteveMacenski commented on #70
~Yeah~

Well it shouldn't have broken mid-distribution, right? its a break from Galactic moving forward into Humble/Rolling. If it was broken mid-distribution, we need to work on ABI policies for this repo so that we dont have breaking changes mid-release

[2022-05-07 00:26] geoeo commented on #70
Alright. I just have to have strange catches in our code while we migrate to rolling/humble. Thanks!

[2022-05-07 00:26] #70 closed, assigned to nobody

[2022-06-29 10:18] NovoG93 opened #72 "ROS 2 RVIZ plugin"
Hey guys,
just wanted to share my RVIZ2 plugin to visiualize Detection3dArray msgs. At the moment only for foxy as the msg definition changed afterwards.
Will update it as described in the readme when I find time.

See here: [https://github.com/NovoG93/vision_msgs_rviz_plugins](https://github.com/NovoG93/vision_msgs_rviz_plugins)

Open for any suggestions if you have some.

Best

[2022-08-04 15:24] gbr1 commented on #68
Hi!
It seems this issue is present also in foxy.

I'm not able to use BoundingBox2DArray and BoundingBox3DArray.
Thank you.

[2022-08-04 15:43] gbr1 commented on #68
Just made a PR
https://github.com/ros-perception/vision_msgs/pull/73

[2022-08-17 15:05] zizo1111 opened #74 "BoundingBox2DArray missing for galactic"
Hi,

I was wondering why is BoundingBox2DArray message missing from galactic, and thus not available to install through
[code]
thanks

[2022-08-22 00:16] Kukanani commented on #74
It was added later, and so didn't end up in every branch. Here is the recent PR for foxy: https://github.com/ros-perception/vision_msgs/pull/73. I'll forward port it to Galactic, but it won't be available in the apt version until the next release and sync.

[2022-08-24 22:24] #62 closed, assigned to nobody

[2022-09-03 17:30] gbr1 opened #76 "ObjectHypothesisWithPose with label"
Hi,
I'm working on wrapping [edgeimpulse on ROS2](https://github.com/gbr1/edgeimpulse_ros).

It could be useful to have a `string label` parameter in the message type `ObjectHypothesisWithPose` because it often happen that you want to send also the label.

What do you think about that?

Thank you in advance!

[2022-09-04 14:56] gbr1 commented on #76
I found another issue:
- **id** in `ObjectHypothesisWithPose` is numeric (int64) for noetic but for foxy is a string
- in **galactic** ObjectHypothesis is used instead

Please can you make unified?
Thank you in advance

[2022-09-04 17:22] SteveMacenski commented on #76
That change was intentional

[2022-09-04 17:40] gbr1 commented on #76
@SteveMacenski so should be foxy updated to the galactic message version (the one with ObjectHypothesis)?

[2022-09-12 15:03] zkytony commented on #76
I noticed the `id` field was once changed to string type, but then reverted (see https://github.com/ros-perception/vision_msgs/commit/fd30ff65e2a5a65353dcf8c35838666d5efbe444). What happened? It would be really convenient to have the `id` field be a string.

[2022-09-12 15:11] mintar commented on #56
In `rospy` (ROS 1), you can set any value to any field. You could also do crazy stuff like:

[code]

... and it works (but it shouldn't). **BUT:** Once you try to *publish* that message, you'll get an error.

You can test whether a field is the correct type with this little function I wrote:

[code]

So in short: The `id` type must be an integer.

[2022-09-12 15:51] zkytony commented on #56
Hi @mintar Thanks for the reply. I soon realized that and removed my post.

To people who read this later, I asked a question where I can create `ObjectHypothesis` with a string id field, even though the API reference says the field is integer.

I am moving forward with using the integer id.

[2022-09-15 02:01] Kukanani commented on #76
We don't usually unify message definitions across distros unless there is a very strong reason to do so.  Because ROS messages are very brittle (non-identical message definitions cause all kinds of headaches), making breaking changes usually only happens between distros.

Future distros will all have `ObjectHypothesis` (unless another new change comes in), which allows a `string`. `foxy` will alwa